
/* .nav-background{
    height: 70px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #060607;
} */

/* .nav-logo a{
    text-decoration: none;
    padding: 8px 12px;
    color: #D7E5E7;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}
.nav-links a{
    text-decoration: none;
    padding: 8px 12px;
    color: #D7E5E7;
    font-weight: 700;
    margin-right: 10px;
} */

.signup-div{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.signup-contents-div{
    /* border: 1px solid black; */
    display:flex;
    justify-content:end;
    flex-direction: column;
    margin: 30px;
}

.signup-contents-div label{
    margin-bottom: 20px;
    display: block;
    text-align: left;
    font-weight: bold;
    color: #060607;
}

.signup-contents-div input{
    display: block;
    height: 30px;
    width: 350px;
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.signup-contents-div input:focus {
    outline: none;
    border-bottom: 2px solid red
}

/* div{
    border: 1px solid black;
} */

.signup-div button{
    padding: 10px 150px;
    /* background-color: #060607; */
    color: #D7E5E7;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    
}

.signup-disable{
    background-color: gray;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: no-drop;
}
.signup-able{
    background-color: #060607;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}