
/* .nav-background{
    height: 70px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #060607;
} */

/* .nav-logo a{
    text-decoration: none;
    padding: 8px 12px;
    color: #D7E5E7;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}
.nav-links a{
    text-decoration: none;
    padding: 8px 12px;
    color: #D7E5E7;
    font-weight: 700;
    margin-right: 10px;
} */


/* .footer-section{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #060607;
    color: #D7E5E7;
} */

.ck-editor__editable_inline {
    min-height: 500px;
    max-height: 500px;
}

.ckeditor-div{
    margin: 0 auto;
    margin-top: 50px;
    /* border: 1px solid black; */
    width: 80%;
    height: 500px;
}

.ckeditor-div h1{
    text-align: left;
    font-size: 2.2em;
    font-weight:bold;
    color: #060607;
}

.write-form-btn{
    /* border: 1px solid black; */
    text-align: right;
    padding: 30px 0px;
}

.write-form-btn button{
    margin-left: 8px;
    /* background-color: #060607; */
    color: #D7E5E7;
    font-weight: 400;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

.title{
    margin: 20px 0px;
    width: 100%;
}

.title label{
    font-weight: 700;
}
.title input {
    margin-top: 10px;
    width: 98%;
    height: 30px;
    padding-left: 15px;
    border-radius: 0px;
    border: 0.2px solid rgba(0,0,0, 0.3);
}

.byte-check{
    text-align: right;
}
.byte-check p{
    display: inline-block;
}

.canSubmit{
    background-color: #060607;
    cursor: pointer;
}
.cantSubmit{
    cursor: not-allowed;
    background-color: #ECEEFF;
}